body {
  font-family: Arial;
  text-align: center;
  background-color: #f0f2f5;
}

nav {
  background: #1877f2;
  color: white;
  padding: 10px;
}

a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

textarea {
  width: 300px;
  height: 100px;
}
